:root {
  font-size: 16px;
}

.body {
  background-color: white;
}

.main {
  display: flex;
  flex-flow: row nowrap;

  max-width: 1024px;
  margin: 0 auto;
}

.forecast {
  width: 50%;
}

.forecast__image {
  height: 100%;
  width: 100%;
}
